* {
	box-sizing: border-box;
}


/** Type Selectors **/

body {
	font-size: 1em;
	margin:0;
	padding: 0;
}

header {
	background-color: orange;
	width: 100%;
	margin-top: -25px;
/*	background-image: url('IMG/backgrounds/kaboompics.com_In front of desk II.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 90%;*/
	background: 
				linear-gradient(to top, #fff, transparent),
				orange url('IMG/backgrounds/kaboompics.com_In front of desk II.jpg') no-repeat center;
	background-size: cover;
	height:800px;
	margin:auto;
	text-align: center;
}

h1 {
	font-size: 5em;
	line-height: 1em;
	text-shadow: 1px 1px 2px #d9d9d9;
}

h1, h2 {
	font-weight: normal;
	color:#003366;
	font-family: 'Italiana', serif;
/*	text-shadow: 1px 2px 2px #FFF;*/

}

h2 {
	text-align: center;
	font-size: 1.8em;
	padding: 10px 0 0 0;
}

h2 span {
	/*border-bottom: solid 3px;*/
	font-weight: normal;
	color:#003366;
	font-family: 'Italiana', serif;
}

h3 span {
	/*background-color:#C6C6C7;*/
	display: inline-block;
	padding: 2px 5px;
	font-weight: normal;
	border-bottom: 4px solid;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Italiana', serif;
	font-size: 0.85em;
	color:#00264d;
}

h4 {
	font-size: 3em;
	font-style: normal;
	border-bottom: 3px solid;
	display: inline;;
}

input {
	text-align: center;
	font-family: 'Italiana', serif;
	font-size: 1em;
	color: slategrey;
	border: 1.5px solid;
}

footer{
	clear: both;
	border-bottom: 10px solid #F97F61;
	text-align: center;
	margin-top:70px;
	font-family: 'Italiana', serif;
	font-size: 0.7em;
}

footer span {
	font-size: 0.5em;
	font-family: 'Italiana', serif;
}

/** Navigation **/

nav {

}

ul {
	padding: 10px;
	text-align: center;
	clear:both;
/*	margin-top: -44px;*/
color: white;

}

ul li {
	display: inline;
	padding: 5px;
	margin: 0 10px;
	font-size: 1.5em;
	color: #003366;
	font-family: 'Italiana', serif;
	font-weight:normal;
}

ul li img {
	width:40px;
	padding: 0 10px;

}

ol {
	background-color: black;
}

ol li {
	display: block;
	background-color: yellow;
}

/** Class selectors **/

.wrapper {
	width: 80%;
	margin: 0 auto;
	text-align:center;
	font-size: 1em;
}

.NMR-title {
	padding-bottom: 20px;
	padding-top: 200px;
	border-bottom: 3px solid;
	display:inline-block;
	text-align: center;
	margin-bottom: 0;
}

.arrow {
	display:block;
	padding-bottom: 200px;
	margin:0 auto;
	width: 60px;
	height: 60px;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 2% auto 2%;
	padding-bottom: 10px;
	border-bottom:2px solid #F97F61;
	border-top: 2px solid #F97F61;
	font-size: 1.2em;
	color: #003366;
	/*font-family: 'Italiana', serif;*/
	font-family: "Helvetica", serif;
	font-style: normal;
}

.services {

	/*background-color: #bfbfbf;*/
/*	background-color:#00e6ac;*/
	background-color: #336699;
	background-image: linear-gradient(to bottom, #336699,#b3cce6);
	clear: both;
	border-top: 5px solid #F97F61;
	width:80%;
	height: 600px;
	margin: 2% auto 2%;
	color:#003366;
	/*font-family: 'Italiana', serif;*/
	font-family: 'Helvetica', serif;
	padding: 1% 0 1%;
	clear: both;
	border-radius: 100px 5px;
	font-size: 1em;
}

.service-icon {
	width:70px;
	height:70px;
	margin-top: 60px;
}

.serviceshead {
	font-size: 1.2em;
/*	border-bottom: 2px solid;*/
	display: block;
/*	padding-bottom: 10px;*/
	text-transform: uppercase;
	font-family: 'Italiana', serif;
/*	font-family: 'Helvetica', serif;*/
	color:#F97F61;
	line-height: 1em;
}

.secondary-post {
	text-align: center;
	width: 80%;
	margin: 2% auto 2%;
	padding-bottom: 10px;
	border-top: 2px solid #F97F61;
	border-bottom:2px solid #F97F61;
	/*border-bottom: 2px solid #F97F61;*/
/*	float:left;*/
	font-size: 1.2em;
	color: #003366;
	/*font-family: 'Italiana', serif;*/
	font-family: 'Helvetica', serif;
	font-weight: normal;
}

.blog-icon {
	padding-top:2%;
	width: 90px;
	height:90px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.like-button {
	margin: 2% auto 0;
	display:block;
	color:#00264d;
	padding: 5px 15px;
	font-size:0.8em;
	font-family: 'Italiana', serif;
}

.submit-button {
	margin: 2% auto 0;
	display:block;
	color:#00264d;
	padding: 10px 20px;
	font-size:1em;
	font-family: 'Italiana', serif;
}

.fp-gallery {
	
	background: linear-gradient(to top, #fff, transparent),
				url('IMG/Gallery/galleryimg.jpeg') no-repeat center;
	background-size: cover;
	clear: both;
	border-top: 5px solid #F97F61;
	width:80%;
	height: 500px;
	margin: 2% auto 2%;
	color:white;
	/*font-family: 'Italiana', serif;*/
	padding: 2% 0 2%;
}

.form {
	border-top: 2px solid #F97F61;
}

.callout {
	font-size: 1.7em;
	border-bottom: 4px solid;
	padding: 0 5px 0px;
	margin-top: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Italiana', serif;
	color:#40bf40;
	line-height: 0em;
}

.callout-intro {
	font-size: 1.7em;
	border-bottom: 4px solid;
	padding: 0 5px 0px;
	margin-top: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Italiana', serif;
	color:#40bf40;
	line-height: 0em;
}

.callout-services {
	font-size: 1.7em;
	border-bottom: 4px solid;
	padding: 0 5px 1px;
	margin-top: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Italiana', serif;
	line-height: 0em;
}

.callout-gallery {
	font-size: 2.1em;
	border-bottom: 4px solid;
	padding-top:42%;
	margin-top: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Italiana', serif;
	color:#00264d;
	line-height: 0em;
	text-shadow: 0.5px .5px 2px #FFF;
}

.contact-information {
	color: #003366;
	text-align:center;
	font-size: 0.8em;
	margin:2% auto 2%;
}

#sub-header {
	letter-spacing: 0.1em;
}

#web-dev-ser {
	width: 24%;
	float:left;
	padding-right:1%;
	padding-left:1%;
}

#mar-ser {
	width:24%;
	float: right;
	padding-left:1%;
	padding-right:1%;
}

#calloutrepeat {
	font-size: 1.25em;
	border-bottom: 4px solid;
	padding: 0 5px 1px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'Italiana', serif;
	color:#00264d;
}

#googleMap { 
	width: 80%; 
	height: 100%; 
	margin: 2% auto 2%; 
	display:block
}

#firstnameform {
	padding: 10px 80px;
	margin: 2% 0 10px;
}

#surnameform {
	padding: 10px 80px;
	margin: 5px 0 10px;
}

#emailform {
	padding: 10px 80px;
	margin: 5px 0 10px;
}

#telephoneform {
	padding: 10px 80px;
	margin: 5px 0 10px;
}

#facebook {
	width:40px;
	height: 40px;
	text-align:center;
}


#twitter {
	width: 40px;
	height: 40px;
	text-align:center;
}



/** Pseudo Classes */

a:link {
	text-decoration: none;
	color: #003366;
}

a:visited {
	text-decoration: none;
	color: #003366;
}

a:hover {
	color: #F97F61;
}


/** Media Queries **/

@media (max-width: 1328px){

	#googleMap { 
		display:none;
}
	.callout-gallery {
		padding-top: 44%;
	}
}

@media (max-width: 851px){

	h1{
		font-size:4em;
	}

	.intro{
		font-size: 1em;
	}

	.secondary-post{
		font-size: 1em;
	}

	.callout-gallery {
		padding-top: 68%;
	}
}

@media (max-width: 721px){
	.wrapper {
		width:100%;
	}

	.callout-gallery {
		padding-top: 60%;
	}
}

@media (max-width: 567px){

	h1{
		font-size: 3em;
	}

	header{
		height: 650px;
	}

	.callout-services {
		font-size:1.5em;
	}

	.callout-gallery {
		padding-top: 85%;
	}

}

@media (max-width: 505px){

	.services {
		font-size: 0.9em;
	}

	.callout-services {
		font-size: 1.5em;
	}



}


@media (max-width: 440px){

	h1{
		font-size: 2.5em;
	}

}

@media (max-width: 404px){

	.callout-services{
		font-size: 1.2em;
	}

	header{
		width:100%;
	}

	h1{
		font-size: 3.4em;
	}

	.NMR-title {
		padding-top:100px;
	}

	h2 {
		font-size: 1.5em;
	}

	.services {
		font-size: 0.8em;
	}

	ul li{
		font-size: 1.2em;
	}
}










